#downloadsPanel-mainView {
    padding: 0 !important;

    richlistitem {
        margin: 0 !important;
        padding: 0 var(--s) !important;
        border-radius: 0 !important;
    }

    description {
        margin-block: 0 !important
    }
}

.downloadButton {
    width: 34px !important;
    height: 34px !important;
    border: none !important;
}

#emptyDownloads {
    padding: var(--m) !important;
    color: var(--text-color-deemphasized) !important;
}