#context-navigation {
    margin: var(--s) var(--m) !important;
    gap: var(--s);

    .menuitem-iconic {
        background: color-mix(in srgb, currentColor 6%, transparent) !important;
        padding: var(--xs) var(--s) !important;
        border-radius: var(--button-border-radius) !important;

        &:hover {
            background: color-mix(
                in srgb,
                currentColor 10%,
                transparent
            ) !important;
        }
    }
}