/* bookmarks */

#PersonalToolbar {
    padding: 0 !important;
}

#zen-main-app-wrapper[zen-compact-mode="true"] {
    #PersonalToolbar {
        padding: 0 var(--xs) !important;
    }
}

#PlacesToolbarItems .bookmark-item {
    margin: 0 !important;
    padding: 0 var(--s) !important;
    margin-bottom: 4px !important;

    .toolbar-menupopup .bookmark-item {
        padding: var(--btn) !important;
        height: max-content !important;
    }
}

#zen-appcontent-navbar-wrapper[should-hide="true"] {
    #PersonalToolbar .bookmark-item {
        margin: 4px 0 !important;
    }
}

#PlacesChevron {
    margin-block: 4px !important;

    .toolbarbutton-icon {
            height: 100% !important;
        }
}

/* screenshot */

.screenshot-button {
    background-image: none !important;
    text-wrap: nowrap !important;
    outline: none !important;
}

/* menu */

#context-navigation {
    margin: var(--s) var(--m) !important;
    gap: var(--s);

    .menuitem-iconic {
        background: color-mix(in srgb, currentColor 6%, transparent) !important;
        padding: var(--xs) var(--s) !important;
        border-radius: var(--button-border-radius) !important;

        &:hover {
            background: color-mix(in srgb,
                    currentColor 10%,
                    transparent) !important;
        }
    }
}

/* statusbar */

#statuspanel {
    margin: 10px !important;
}

#statuspanel-label, #tabbrowser-tab-tooltip, #dynamic-shortcut-tooltip, tooltip {
    border-radius: 16px !important;
    padding: 8px 16px !important;
    border: none !important;
    background: var(--arrowpanel-background) !important;
}

/* downloads */

#downloadsPanel-mainView {
    padding: 0 !important;

    richlistitem {
        margin: 0 !important;
        padding: 0 var(--s) !important;
        border-radius: 0 !important;
    }

    description {
        margin-block: 0 !important
    }
}

.downloadButton {
    width: 34px !important;
    height: 34px !important;
    border: none !important;
}

#emptyDownloads {
    padding: var(--m) !important;
    color: var(--text-color-deemphasized) !important;
}

/* urlbar */

#urlbar {
    .urlbar-background {
        /* background: var(--arrowpanel-background) !important; */
        outline: none !important;
    }

    .urlbarView {
        margin: 0 !important;
        width: 100% !important;
    }

    .urlbarView-row {
        border-radius: 0 !important;
        padding: 0 !important;

        &:active {
            background: var(--button-background-color-ghost-active) !important;
        }

        &[selected] {
            background: var(--button-background-color-ghost-active) !important;
        }
    }

    .urlbarView-row-inner {
        padding-left: var(--m) !important;
    }

    .urlbarView-button-result-menu {
        margin-right: var(--m) !important;
    }

    .urlbarView-favicon {
        background: none !important;
    }

    #identity-box[pageproxystate="invalid"] {
        margin-inline-end: var(--s) !important;
    }

    #identity-icon-box {
        background: none !important;
    }
}

#translations-button {
    height: 100% !important;
}

/* tabs */

.workspace-arrowscrollbox,
#tabbrowser-arrowscrollbox {
    padding: 0 !important;
}

zen-workspace-icons .subviewbutton {
    padding: 3px !important;
    margin: 0 !important;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

#zen-main-app-wrapper[zen-compact-mode="true"] {
    #titlebar {
        background: var(--zen-main-browser-background-titlebar) !important;
        border: none !important;

        .zen-toolbar-background {
            &::before,
            &::after {
                outline: none !important;
            }

            &,
            &::before,
            &::after {
                border-radius: calc(var(--zen-native-inner-radius) - var(--zen-compact-mode-no-padding-radius-fix, 4px)) !important;
            }
        }

    }
}


#main-window[zen-default-theme="true"] {
    #titlebar {
        background: var(--zen-main-browser-background) !important;
    }
}

/* :root[zen-compact-mode="true"]:not([customizing]):not([inDOMFullscreen="true"]) {
    @media -moz-pref("zen.view.compact.hide-tabbar") or -moz-pref("zen.view.use-single-toolbar") {
        &:not([zen-compact-animating]) {
            & #navigator-toolbox {
                &:not([animate="true"]) {
                    transition: left 0.3s ease, right 0.3s ease, visibility 0.3s ease !important;
                }
            }
        }
    }
} */

/* themes */

#PanelUI-zen-gradient-generator-multiview {
    margin: var(--s) !important;
}

#PanelUI-zen-gradient-generator-color-actions,
#PanelUI-zen-gradient-generator-scheme {
    & button {
        display: flex !important;
        justify-content: center !important;
        border-radius: var(--button-border-radius) !important;
    }
}

#PanelUI-zen-gradient-generator-color-page-left,
#PanelUI-zen-gradient-generator-color-page-right {
    border-radius: var(--button-border-radius) !important;
}