menupopup,
panel {
    --menuitem-padding: var(--btn) !important;
    --panel-border-radius: var(--s) !important;
    --panel-border-color: none !important;
}

* {
    scrollbar-color: #80808060 var(--button-background-color) !important;
}

.subview-subheader,
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1 {
    padding: var(--btn) !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

#appMenu-fxa-status2 {
    padding: 0 !important;

    label {
        padding-inline-start: var(--s) !important;
    }
}

#appMenu-zoom-controls {
    padding: 0 var(--m) !important;
    padding-top: var(--s) !important;
    margin-top: var(--s) !important;

    #appMenu-zoomReset-button2,
    #appMenu-zoomEnlarge-button2,
    #appMenu-zoomReduce-button2 {
        padding: 0 !important;
        margin: 0 !important;
    }

    #appMenu-zoomReset-button2 {
        padding: 0 var(--s) !important;
    }

    #appMenu-fullscreen-button2 {
        display: none !important;
    }

    :is(label, description)[value][crop]::before {
        padding: var(--btn-s) !important;
    }
}

#appMenu-zoom-controls > .toolbarbutton-text,
#fxa-manage-account-button > vbox,
#PanelUI-fxa-menu-syncnow-button > hbox {
    padding-inline-start: 0 !important;
}

.widget-overflow-list
    .toolbarbutton-1:not(.toolbarbutton-combined)
    > .toolbarbutton-text,
.subviewbutton:not(#appMenu-zoom-controls > .subviewbutton)
    > .toolbarbutton-icon
    + .toolbarbutton-text,
#appMenu-fxa-label2 > vbox {
    padding-inline-start: 0 !important;
}

.panel-header {
    padding: 0 !important;
    height: max-content !important;

    h1 {
        padding: 0 !important;
        margin: 0 !important;
        padding-bottom: var(--xxs) !important;
    }
}

#PanelUI-fxa .panel-header h1 {
    padding-bottom: var(--xs) !important;
}

.panel-header > h1 > span::before {
    --header-image: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.subviewbutton-back {
    margin: 0 var(--s) !important;
    padding: var(--s) !important;
    border-radius: var(--button-border-radius) !important;
}

.panel-subview-body {
    padding: 0 !important;
}

#permission-popup-mainView-panel-header,
#identity-popup-mainView-panel-header,
#protections-popup-mainView-panel-header,
.panel-header {
    min-height: 34px !important;
}

panelmultiview,
toolbarseparator {
    padding: 0 !important;
    margin: var(--s) 0 !important;
}

menu,
menuitem,
menucaption {
    margin: 0 !important;
    border-radius: 0 !important;
}

arrowscrollbox {
    padding: var(--s) 0 !important;
}

menuseparator {
    padding: 0 !important;
    margin: var(--s) 0 !important;
}

menu,
menuitem {
    &:where([disabled="true"]) {
        color: var(--button-text-color-ghost-disabled) !important;
        opacity: var(--button-opacity-disabled) !important;
    }

    &:where([_moz-menuactive]:not([disabled="true"])) {
        color: var(--button-text-color-ghost) !important;
        background-color: var(--button-background-color-ghost-hover) !important;
    }

    &:where([_moz-menuactive][disabled="true"]) {
        background-color: var(
            --button-background-color-ghost-disabled
        ) !important;
    }
}

/* :is(
    .menuitem-iconic,
    .menu-iconic,
    .subviewbutton-iconic,
    .unified-nav-current,
    .menuitem-with-favicon,
    #appMenu-fxa-label2
):not(menupopup[needsgutter] > *) label {
    margin-left: var(--s) !important;
} */

:is(.subviewbutton-iconic):not(menupopup[needsgutter] > *) label {
    margin-left: var(--s) !important;
}

:is(#appMenu-fxa-label2):not(menupopup[needsgutter] > *) label {
    margin-left: var(--xs) !important;
}

menuitem[badge]::after {
    margin-left: 16px !important;
    margin-block: -10px !important;
    border: none !important;
    padding: var(--btn-s) !important;
    background: var(--toolbarbutton-hover-background) !important;
}

#appMenu-new-tab-button2,
#appMenu-new-window-button2,
#appMenu-new-zen-unsynced-window-button,
#appMenu-new-ai-window-button,
#appMenu-new-classic-window-button,
#appMenu-new-private-window-button2,
#appMenu-bookmarks-button,
#appMenu-history-button,
#appMenu-downloads-button,
#appMenu-passwords-button,
#appMenu-extensions-themes-button,
#appMenu-unified-extensions-button,
#appMenu-print-button2,
#appMenu-save-file-button2,
#appMenu-find-button2,
#appMenu-translate-button,
#appMenu-settings-button,
#appMenu-more-button2,
#appMenu-report-broken-site-button,
#appMenu-help-button2,
#appMenu-quit-button2,
#appMenuRecentlyClosedTabs,
#appMenuSearchHistory,
#appMenuClearRecentHistory,
#PanelUI-historyMore,
#panelMenuBookmarkThisPage,
#panelMenu_searchBookmarks,
#panelMenu_viewBookmarksToolbar,
#panelMenu_showAllBookmarks,
#appmenu-moreTools-button {
    list-style-image: none !important;

    label {
        padding: 0 !important;
    }
}

#widget-overflow-list .toolbarbutton-icon {
    display: none !important;
}
