:root {
    --btn-s: 4px 8px;
    --btn: 8px 16px;
    --btn-b: 12px 24px;
    --dd: 12px 16px;

    --xxs: 2px;
    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 32px;
    
    --di-w: 44px;
    --di-h: 44px;

    --zen-dialog-background: var(--arrowpanel-background) !important;
    --button-border: none !important;

    --zen-sidebar-notification-shadow: none !important;
    --zen-toolbar-element-bg: light-dark(color-mix(in oklch, var(--toolbox-textcolor) 12%, transparent), color-mix(in oklch, var(--toolbox-textcolor) 12%, transparent)) !important;
}