#PanelUI-zen-gradient-generator-multiview {
  margin: var(--s) !important;
}

#PanelUI-zen-gradient-generator-color-actions, #PanelUI-zen-gradient-generator-scheme {
  & button {
    display: flex !important;
    justify-content: center !important;
    border-radius: var(--button-border-radius) !important;
  }
}

#PanelUI-zen-gradient-generator-color-page-left,
#PanelUI-zen-gradient-generator-color-page-right {
  border-radius: var(--button-border-radius) !important;
}