@import "modules/root.css";
@import "modules/popup.css";
@import "modules/tabs.css";
@import "modules/translate.css";
@import "modules/data.css";
@import "modules/other.css";
@import "modules/preferences.css";
@import "modules/test.css";