@import "modules/root.css";
@import "modules/popup.css";
@import "modules/tabs.css";
@import "modules/panel.css";
@import "modules/menu.css";
@import "modules/translate.css";
@import "modules/data.css";
@import "modules/preferences.css";
@import "modules/test2.css";